*{
    margin: 0;
    padding: 0;
}



.content-main{
    width: 80vw;
}
.img-large{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    width: 22vw;
    height: 100vh;
    margin-bottom: 0px;
    /*432 924*/
    background-size: 432px 924px;
    background-repeat: no-repeat;
    background-image: url('https://media-exp1.licdn.com/dms/image/C4D22AQFmo6djwDSwKQ/feedshare-shrink_1280/0/1638263014247?e=2147483647&v=beta&t=C2eSo9ejc9p_PjOhstHY09VgZ1hie16fi8D3MG26A-w');
    /*WATCH:.la url del bg va cambiando y te deniega el acceso algunas veces*/

}


/*Mobile*/
/*480*/








/*Tablet 1024*/
